footer.footer.container-fluid
	.container
		.footer__inner
			.copyright All rights reserved 2020
			.social_icons
				a(href="#").twitter-link
					+icon('twitter')
				a(href="#").facebook-link
					+icon('facebook-1')
				a(href="#").vk-link
					+icon('vk')
			.phone 1 234 243 1123