section.about.container-fluid
	.container
		.about__inner
			.about__left
				h2.about__title About us
				p Enthusiastically impact compelling data whereas extensible value. Distinctively utilize long-term high-impact action items through business supply chains. Efficiently productivate tactical resources.
				a.about__button(href="#") Read more
			.about__right
				.about__img-1
					img(src="assets/img/about-1.jpg", alt="")
				.about__img-2
					img(src="assets/img/about-2.jpg", alt="")
