section.gallery.container-fluid.pt
	h2.gallery__title.title-center Gallery
	.container
		.gallery__items
			.gallery__column
				img(src="assets/img/gallery-1.jpg", alt="").gallery__item.gallery__item--one
				img(src="assets/img/gallery-4.jpg", alt="").gallery__item.gallery__item--two
			.gallery__column
				img(src="assets/img/gallery-2.jpg", alt="").gallery__item.gallery__item--three
				img(src="assets/img/gallery-5.jpg", alt="").gallery__item.gallery__item--four
			.gallery__column
				img(src="assets/img/gallery-3.jpg", alt="").gallery__item.gallery__item--five
				img(src="assets/img/gallery-6.jpg", alt="").gallery__item.gallery__item--six