section.section__testimonials.container-fluid.pt
	h2.testimonials__title.title-center Our clients say
	.container
		.testimonials__slider
			.testimonials__slide
				.testimonials__slide-content Continually extend B2B data before turnkey markets. Credibly implement equity invested platforms via empowered benefits. Appropriately impact functionalized human capital without distinctive infomediaries. Collaboratively incentivize scalable resources and adaptive results. Appropriately streamline optimal.
				.testimonials__slide-author
					.author__icon
						img(src="assets/img/client-1.jpg", alt="")
					span.author__name Pavliv Yaroslav
					span.author__biz Web designer
			.testimonials__slide
				.testimonials__slide-content Appropriately iterate state of the art e-tailers after flexible infrastructures. Collaboratively develop transparent channels whereas frictionless convergence. Monotonectally morph standards compliant leadership without integrated human capital. Authoritatively utilize granular communities after superior partnerships.
				.testimonials__slide-author
					.author__icon
						img(src="assets/img/client-2.jpg", alt="")
					span.author__name John Scott
					span.author__biz The Fringe
			.testimonials__slide
				.testimonials__slide-content Continually extend B2B data before turnkey markets. Credibly implement equity invested platforms via empowered benefits. Appropriately impact functionalized human capital without distinctive infomediaries. Collaboratively incentivize scalable resources and adaptive results. Appropriately streamline optimal.
				.testimonials__slide-author
					.author__icon
						img(src="assets/img/client-1.jpg", alt="")
					span.author__name Pavliv Yaroslav
					span.author__biz Web designer
			.testimonials__slide
				.testimonials__slide-content Appropriately iterate state of the art e-tailers after flexible infrastructures. Collaboratively develop transparent channels whereas frictionless convergence. Monotonectally morph standards compliant leadership without integrated human capital. Authoritatively utilize granular communities after superior partnerships.
				.testimonials__slide-author
					.author__icon
						img(src="assets/img/client-2.jpg", alt="")
					span.author__name John Scott
					span.author__biz The Fringe
	form.form
		.form__title Contacts
		.form__subtitle Sign up for our newsletter to receive updates
		input(type="text", placeholder="Name")
		input(type="tel", placeholder="Phone")
		input(type="email", placeholder="Email")
		input(type="submit", value="Send")
