section.our-work.container-fluid.pt
	h2.our-work__title.title-center How we work
	.container
		.our-work__items
			.our-work__item
				span.our-work__item-count 1
				.our-work__item-image
					img(src="assets/img/polygon.png", alt="")
					img.item__image(src="assets/img/1.png", alt="")
				.our-work__item-descr
					.our-work__item-heading Professionally integrate long-term high-impact.
					.our-work__item-text Energistically utilize bleeding-edge catalysts for change.
			.our-work__item
				span.our-work__item-count 2
				.our-work__item-image
					img(src="assets/img/polygon.png", alt="")
					img.item__image(src="assets/img/2.png", alt="")
				.our-work__item-descr
					.our-work__item-heading Professionally integrate long-term high-impact.
					.our-work__item-text Energistically utilize bleeding-edge catalysts for change.
			.our-work__item
				span.our-work__item-count 3
				.our-work__item-image
					img(src="assets/img/polygon.png", alt="")
					img.item__image(src="assets/img/3.png", alt="")
				.our-work__item-descr
					.our-work__item-heading Professionally integrate long-term high-impact.
					.our-work__item-text Energistically utilize bleeding-edge catalysts for change.
			.our-work__item
				span.our-work__item-count 4
				.our-work__item-image
					img(src="assets/img/polygon.png", alt="")
					img.item__image(src="assets/img/4.png", alt="")
				.our-work__item-descr
					.our-work__item-heading Professionally integrate long-term high-impact.
					.our-work__item-text Energistically utilize bleeding-edge catalysts for change.


