section.our-travel.container-fluid.pt
	img.our-travel__map(src="assets/img/travel-map.svg", alt="")
	h2.our-travel__title.title-center Travel with us
	.container
		.our-travel__items
			.our-travel__item.our-travel__item--one
				ul.our-travel__item-stars
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
				.our-travel__item-heading Carpathian
				.our-travel__item-descr Conveniently productize go forward services before integrated users.
				.our-travel__item-price
					.item__price-first 3150$
					.item__price-last $793
			.our-travel__item.our-travel__item--two
				ul.our-travel__item-stars
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
				.our-travel__item-heading Alps
				.our-travel__item-descr Conveniently productize go forward services before integrated users.
				.our-travel__item-price
					.item__price-first 3150$
					.item__price-last $1893
			.our-travel__item.our-travel__item--three
				ul.our-travel__item-stars
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
				.our-travel__item-heading Pyrenees
				.our-travel__item-descr Conveniently productize go forward services before integrated users.
				.our-travel__item-price
					.item__price-first 3150$
					.item__price-last $2593
			.our-travel__item.our-travel__item--four
				ul.our-travel__item-stars
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
				.our-travel__item-heading Rocky
				.our-travel__item-descr Conveniently productize go forward services before integrated users.
				.our-travel__item-price
					.item__price-first 3150$
					.item__price-last $2123
			.our-travel__item.our-travel__item--five
				ul.our-travel__item-stars
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
					li.our-travel__item-star
						+icon('star')
				.our-travel__item-heading Kavkaz
				.our-travel__item-descr Conveniently productize go forward services before integrated users.
				.our-travel__item-price
					.item__price-first 3150$
					.item__price-last $593

