section.order.container-fluid
	.container
		h2.order__title Do you wanna go
		p.order__description Competently communicate accurate markets with client-centered synergy. Dramatically create magnetic action items via excellent opportunities. Authoritatively incubate maintainable e-commerce.
		.order__form
			form
				input.order__name(type="text", placeholder="Your name:")
				input.order__phone(type="text", placeholder="Your phone:")
				input(type="submit", value="Order now")
		.order__disclaimer
			img(src="assets/img/locked.svg", alt="")
			span * Your data will not be transferred

