section.our-journal.container-fluid.pt
	h2.our-journal__title.title-center Our Journal
	.container
		.our-journal__wrapper
			.our-journal__box
				.our-journal__item
					.our-journal__image
						img(src="assets/img/journal-1.jpg", alt="")
						.our-journal__image-inner
							img(src="assets/img/heart.png", alt="")
					.our-journal__info
						span.our-journal__feature love
						h3.our-journal__item-title Holisticly drive ubiquitous niche markets for end-to-end functionalities
						p.our-journal__text You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your.
						span.our-journal__count 01
				.our-journal__item.our-journal__item--reverse
					.our-journal__image
						img(src="assets/img/journal-2.jpg", alt="")
						.our-journal__image-inner
							img(src="assets/img/leaf.png", alt="")
					.our-journal__info
						span.our-journal__feature tree
						h3.our-journal__item-title Holisticly monetize flexible e-services whereas dynamically conceptualize
						p.our-journal__text The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.
						span.our-journal__count 02
			.our-journal__box--vertical
				.our-journal__item
					.our-journal__info
						span.our-journal__feature water
						h3.our-journal__item-title Professionally generate team building
						p.our-journal__text What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
						span.our-journal__count 03
					.our-journal__image
						img(src="assets/img/journal-3.jpg", alt="")
						.our-journal__image-inner
							img(src="assets/img/drop.png", alt="")
