section.section__brands.container-fluid
	.container
		ul.brands__items
			li.brands__item
				+icon('slack')
			li.brands__item
				+icon('adobe')
			li.brands__item
				+icon('google')
			li.brands__item
				+icon('facebook')
			li.brands__item
				+icon('spotify')
			li.brands__item
				+icon('nike')