extends ../_template

block variables
	- var title = 'Mountains'
	- var pageClass = 'index-page'

block content
	//- include ../elements/_debug
	include ../common/_header
	include ../common/_section-about
	include ../common/_section-our-journal
	include ../common/_section-order
	include ../common/_section-work
	include ../common/_section-travel
	include ../common/_section-gallery
	include ../common/_section-brands
	include ../common/_section-testimonials
	include ../common/_footer

block script



