extends ../_template

block variables
	- var title = 'Mountains'
	- var pageClass = 'index-page'

block content
	//include ../elements/_debug
	include ../common/_header
	include ../common/_section-about
	include ../common/_section-our-journal
	include ../common/_section-order
	include ../common/_section-work

block script



